<div class="container-fluid w-100 h-100">
    <div class="row">
        <div class="col-xl-8 d-flex justify-content-center pt-5 pb-3">
            <div id="carouselExampleIndicators" class="carousel slide w-75" data-bs-interval="false">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container-fluid d-flex justify-content-center">
                            <a data-bs-toggle="modal" href="#exampleModal" role="button">
                                <img src="../../../../assets/media/a51.jpg" class="d-block img-fluid"
                                    alt="product image">
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container-fluid d-flex justify-content-center">
                            <a data-bs-toggle="modal" href="#exampleModal" role="button">
                                <img src="../../../../assets/media/a51.jpg" class="d-block img-fluid"
                                    alt="product image">
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container-fluid d-flex justify-content-center">
                            <a data-bs-toggle="modal" href="#exampleModal" role="button">
                                <img src="../../../../assets/media/a51.jpg" class="d-block img-fluid"
                                    alt="product image">
                            </a>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-xl-4 pt-5">
            <div class="d-grid gap-2 col-6 mx-auto">
                <div class="container-fluid d-flex justify-content-center">
                    <h5 class="text-decoration-line-through text-muted fst-normal">Pret vechi: 60 lei</h5>
                </div>
                <div class="container-fluid d-flex justify-content-start">
                    <h3 class="text-danger">Pret: 50 lei</h3>
                </div>
                <div class="container-fluid d-flex justify-content-start mb-4">
                    <span class="badge bg-success">In stoc</span>
                </div>
                <button class="btn btn-primary" type="button">Adauga in cos</button>
                <button class="btn btn-outline-primary" type="button">Adauga la favorite</button>
                <ul class="mt-3">
                    <li class="list-text">Livrare rapida pe tot teritoriul Romaniei, 24 - 72 ore.</li>
                    <li class="list-text">Costul livrarii este de 15 lei pentru produse in valoare de pana la 60 lei, in rest fiind gratuita.</li>
                    <li class="list-text">Garantie inclusa de 6 luni.</li>
                    <li class="list-text">Posibilitate de retur in 14 zile lucratoare.</li>
                </ul>
                <div class="container-fluid">
                </div>
            </div>
        </div>
        <div class="col-sm-12 pt-3 border-top p-0 m-0">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                        type="button" role="tab" aria-controls="home" aria-selected="true">Descrierea
                        produsului</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">Specificatii</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                        type="button" role="tab" aria-controls="contact" aria-selected="false">Reviews</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like
                    readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                    default model text, and a search for 'lorem ipsum' will uncover many web sites still in their
                    infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
                    (injected humour and the like).
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                    Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in
                    their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                </div>
            </div>
        </div>
        <div class="col-sm-12 border-top">
            <div class="container-fluid d-flex justify-content-center">
                <div class="card mx-2 my-2" style="width: 12rem;">
                    <img src="../../../../assets/media/a51.jpg" class="card-img-top" alt="...">
                    <div class="card-body d-flex justify-content-center">
                        <p class="card-text">Iphone X</p>
                    </div>
                </div>
                <div class="card mx-2 my-2" style="width: 12rem;">
                    <img src="../../../../assets/media/a51.jpg" class="card-img-top" alt="...">
                    <div class="card-body d-flex justify-content-center">
                        <p class="card-text">Iphone X</p>
                    </div>
                </div>
                <div class="card mx-2 my-2" style="width: 12rem;">
                    <img src="../../../../assets/media/a51.jpg" class="card-img-top" alt="...">
                    <div class="card-body d-flex justify-content-center">
                        <p class="card-text">Iphone X</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex justify-content-center">
                    <div id="carouselExampleIndicators1" class="carousel slide" data-bs-interval="false">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container-fluid d-flex justify-content-center">
                                    <img src="../../../../assets/media/a51.jpg" class="d-block img-fluid"
                                        alt="product image">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container-fluid d-flex justify-content-center">
                                    <img src="../../../../assets/media/a51.jpg" class="d-block img-fluid"
                                        alt="product image">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container-fluid d-flex justify-content-center">
                                    <img src="../../../../assets/media/a51.jpg" class="d-block img-fluid"
                                        alt="product image">
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>