<nav class="navbar navbar-expand-lg navbar-light border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="../../../../assets/media/logo.jpeg" alt="logo" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-secondary" href="#">Noutati</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="#">Accesorii GSM</a>
        </li>
      </ul>
      <form class="d-flex">
        <div class="me-4">
          <img src="https://img.icons8.com/ios/30/000000/shopping-cart.png"/>
        </div>
        <div class="me-4">
          <img src="https://img.icons8.com/ios/30/000000/like--v1.png"/>
        </div>
        <input class="form-control me-2 btn-outline-secondary" type="search" placeholder="Husa iphone X" aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit">Cauta</button>
        <a routerLink="../login"><button class="btn btn-outline-secondary ms-4">Login/Register</button></a>
      </form>
    </div>
  </div>
</nav>