.navbar {
    /* color: orange; */
    z-index: 100;
    background-color: #eeeeee;
}

.nav-link {
    font-size: 18px;
}

.cart {
    cursor: pointer;
}

.favorite {
    cursor: pointer;
}

.cos {
    white-space: nowrap;
}

.nav-link:after {
    transition: all ease-in-out .2s;
    background: none repeat scroll 0 0 #777777;
    content: "";
    display: block;
    height: 2px;
    width: 0;
}

.nav-link:hover:after {
    width: 100%;
}

@media only screen and (max-width: 991px) {
    .logo {
        height: 5vh;
        width: 25vw;
        margin-left: 35vw;
    }    
}

@media only screen and (max-width: 600px) {
    .logo {
        height: 5vh;
        width: 35vw;
        margin-left: 30vw;
    }    
}

@media only screen and (min-width: 991px) {
    .logo {
        height: 5vh;
        width: 10vw;
    }    
}