<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Huse si Folii</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Noutati</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Accesorii GSM</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Husa iphone X" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Cauta</button>
        <button class="btn btn-outline-success ms-4" type="submit" routerLink="ceva">Login</button>
      </form>
    </div>
  </div>
</nav>