.login {
    min-height: 100vh;
    padding-top: 25vh;
}

.login-box {
    border-radius: 15px;
    width: fit-content;
}

.home-b {
    cursor: pointer;
}

.home-b:hover {
    color: cornflowerblue;
}

@media only screen and (min-width: 1200px) { 
    form {
        width: 17vw;
    }
}
