.login {
    min-height: 100vh;
    padding-top: 25vh;
}

.login-box {
    border-radius: 15px;
    width: fit-content;
}

.home-b {
    cursor: pointer;
}

/* form {
    width: 20vw;
} */

.home-b:hover {
    color: cornflowerblue;
}