<div class="container-fluid register">
    <div class="container-fluid border border-3 register-box p-3 d-flex justify-content-center">
        <form class="needs-validation" [formGroup]="regForm" (ngSubmit)="saveUser()">
            <div class="container-fluid d-flex justify-content-center p-3">
                <h3>Register</h3>
            </div>
            <div class="mb-3">
                <label for="f-name" class="form-label">First name</label>
                <input type="text" class="form-control" formControlName="firstName" id="f-name" [ngClass]="{ 'is-invalid': regForm.controls.firstName.touched }" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please choose your first name.
                </div>
            </div>
            <div class="mb-3">
                <label for="l-name" class="form-label">Last name</label>
                <input type="text" class="form-control" formControlName="lastName" id="l-name" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please choose your last name.
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" formControlName="email" id="email" aria-describedby="emailHelp"
                    required>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please choose a valid email.
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="password" id="password" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please choose a valid password.
                </div>
            </div>
            <div class="container-fluid d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
            </div>
        </form>
    </div>
</div>