.register {
    min-height: 100vh;
    padding-top: 15vh;
}

.register-box {
    border-radius: 15px;
    width: 25vw;
}

@media only screen and (max-width: 600px) { 
    .register-box {
        width: 80vw;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) { 
    .register-box {
        width: 50vw;
    }
}